
body {
    font-family: Arial,sans-serif;
    font-weight: 100;
    background-color: hsl(0, 0%, 83%);
    margin-top: 2em;
}
h1 {
    color: hsl(160, 27%, 50%);
}
form {
    text-align: center;
    background-color: rgb(255, 255, 255);
    max-width: 350px;
    margin:auto;
    padding: 2em;
    border-radius: 25px;
    box-shadow: 10px 15px 50px;
}
#textBox {
    width: 50%;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 10px;
    padding: 10px 5px;
    font-size: 23px;
}
label {
    font-size: 1.5em;
    margin-top: 1em;
}
#submit {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: rgb(246, 246, 246);
  font-size: 1.25em;
  padding: 10px;
  border-radius: 10px;
}
#submit:hover {
    transition: 0.5s;
    background-color: rgb(190, 190, 190);
}

#res {
    margin-top: 2em;
    font-size: 2em;
    font-weight: bold;
}
